@charset "utf-8";

body {
    font-size: x-large;
    background-color: white;
    color: black;
}

a {
    font-weight: bold;
}

.title.head {
    background-color:black;
    color: white;
    opacity: 0.8;
    font-weight:bold;
}

.title {
    font-weight:bold;
}

.link {
    text-decoration: none;
    color: blue;
}

.center {
    text-align: center;
}

.google {
    background-color: blue;
    color: white;
}

.yahoo {
    background-color: red;
    color: white;
}

.youtube {
    background-color:rgb(207, 34, 34);
    color: white;
}

footer {
    background-color: black;
    color: white;
}

.foot1 {
    margin-left: 440px;
    font-size: large;
    text-decoration: none;
    color: white;
}

.foot2 {
    margin-left: 200px;
    font-size: large;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px){
    body {
        font-size: x-large;
        background-color: white;
        color: black;
    }
    
    a {
        font-weight: bold;
    }
    
    .title.head {
        background-color:black;
        color: white;
        opacity: 0.8;
        font-weight:bold;
    }
    
    .title {
        font-weight:bold;
    }
    
    .link {
        text-decoration: none;
        color: blue;
    }
    
    .center {
        text-align: center;
    }
    
    .google {
        background-color: blue;
        color: white;
    }
    
    .yahoo {
        background-color: red;
        color: white;
    }
    
    .youtube {
        background-color:rgb(207, 34, 34);
        color: white;
    }
    
    footer {
        background-color: black;
        color: white;
    }

    .foot1 {
        margin-left: 55px;
        font-size: large;
        text-decoration: none;
        color: white;
    }

    .foot2 {
        margin-left: 50px;
        font-size: large;
        text-decoration: none;
        color: white;
    }
}
