body {
    margin: 0;
    overflow: hidden;
    background-color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border {
    background: #c0c0c0;
    border: 1.5px solid;
    border-color: #eee #333 #333 #eee;
}

.border2 {
    background: darkgray;
    border: 1.5px solid;
    border-color: #333 #eee #eee #333;
}

.button {
    list-style: none;
    display: inline-block;
    color: black;
    background-color: #C3C7CB;
    border: 1.8px solid #808080;
    border-color: #fff #808080 #808080 #fff;
    box-shadow: 0.5px 0.5px black;
}

.button.pressed {
    background-color: darkgray;
    border: 1.5px solid;
    border-color: #7a7a7a #fff #fff #7a7a7a;
    box-shadow: 0.5px 0.5px 0 #000 inset;
    transform: translate(0.6px, 0.6px);
}

.bold {
    font-weight: bold;
}

canvas {
    display: block;
}

/* FPS表示 */
#fpsCounter {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #0f0;
    padding: 2.5px;
    font-family: monospace;
}

#fpsCounter>* {
    margin: 2px;
    display: inline-block;
}

#crosshair {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100;
    mix-blend-mode: difference;
}

#crosshair:before,
#crosshair:after {
    content: '';
    position: absolute;
    background: white;
}

#crosshair:before {
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    transform: translateX(-50%);
}

#crosshair:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    transform: translateY(-50%);
}

/* ----- Touch Controls Panel ----- */
#left-controls {
    position: fixed;
    bottom: 115px;
    left: 40px;
    width: 150px;
    height: 150px;
    z-index: 2;
}

#touch-dpad {
    position: relative;
    width: 100%;
    height: 100%;
}

.dpad-btn {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    width: 70px;
    height: 70px;
    font-size: 24px;
    color: #fff;
    border-radius: 5px;
    user-select: none;
}

#dpad-up {
    top: -30px;
    left: 60%;
    transform: translateX(-50%);
}

#dpad-down {
    bottom: -30px;
    left: 60%;
    transform: translateX(-50%);
}

#dpad-left {
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

#dpad-right {
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
}

#btn-sneak {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    border: none;
    width: 70px;
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    user-select: none;
}

#right-controls {
    position: fixed;
    bottom: 115px;
    right: 40px;
    z-index: 1100;
}

.touch-action-btn {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 5px;
    border-radius: 5px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-jump {
    width: 70px;
    height: 70px;
}

#hotbar {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: gray;
    border: solid 2px black;
}

.hotbar-item {
    width: 50px;
    height: 50px;
    margin: 4px 4px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid transparent;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hotbar-item.active {
    outline: solid 2px white;
}

#inventory-container {
    display: none;
}

#inventory-container span {
    font-size: x-large;
    color: white;
}

#inventory {
    width: max-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    z-index: 100;
}

.inventory-item {
    border: 1px solid white;
    cursor: pointer;
}

#screenOverlayHtml {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.overzindex * {
    z-index: 999999;
}